@import './colors';
@import './animation';
@import './mixin';

.primary-button {
  margin             : 1rem;
  border-radius      : 5rem;
  background-color   : darken($primary, 5);
  font-size          : 2rem;
  font-family        : 'Noto-Sans';
  color              : #fff;
  border             : .2rem solid #ffffffc4;
  height             : 46px;
  width              : 160px;
  border-radius      : 24px;
  font-weight        : bold;
  line-height        : 22px;
  text-align         : center;
  transition         : all .4s ease-out;
  // transition      : width .1s linear;
  // transition      : height .1s linear;
  cursor             : pointer;

  &:disabled {
    background-color: #eee;
    color           : #ccc;
    border          : .2rem solid rgba(51, 51, 51, 0.048);
  }



  &:hover {
    filter   : drop-shadow(0 .5rem .5rem rgba(204, 204, 204, 0.575));
    transform: translateY(-.1rem);
  }
}

.accent-button {
  margin          : 1rem;
  border-radius   : 5rem;
  background-color: #fff;
  font-size       : 2rem;
  font-family     : 'Noto-Sans';
  color           : $primary;
  border          : .2rem solid $primary;
  height          : 46px;
  width           : 160px;
  border-radius   : 24px;
  font-size       : 16px;
  font-weight     : bold;
  line-height     : 22px;
  text-align      : center;
  transition      : all .2s ease-in;
  cursor          : pointer;

  &:hover {
    filter   : drop-shadow(0 .5rem .5rem rgba(204, 204, 204, 0.575));
    transform: translateY(-.1rem);
  }
}


.submitted-button {
  background-color: #fff;
  width           : 4.6rem !important;
  height          : 4.6rem !important;
  border-left     : 2px solid $primary;
  border-right    : 2px solid $primary;
  animation       : rotate 1s linear forwards infinite;
  transition      : all .3s ease-in-out;
}
