@mixin host {
  width  : 100%;
  height : 100%;
  display: flex;
}

@mixin flex-center {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  align-content  : center;
}

@mixin flex-row-space-between {
  display        : flex;
  justify-content: space-between;
}

@mixin position-center {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}


@mixin regular-cmp {
  height: calc(100vh - 5.6rem);
}


@mixin landing-cmp {
  height: 100vh;
}
