@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/mixin';




:host {
  @include landing-cmp;

  .container {
    position: relative;
    width   : 100%;
    height  : 100%;
    overflow: hidden;


  }


}
