@import 'src/assets/scss/mixin';

:host {
  position  : fixed;
  bottom    : 0;
  left      : 0;
  width     : 100vw;
  height    : calc(100vh - 5.6rem);
  background: #fafafa;

  .create-group-container {
    width: 100%;

    form {
      .mat-step {
        display       : flex;
        flex-direction: column;

        .image-control-container {
          display        : flex;
          flex-direction : row;
          flex-wrap      : nowrap;
          justify-content: space-between;

          .image {
            max-height: 10rem;
            max-width : auto;
          }
        }
      }

      .user-list {
        height  : 12rem;
        overflow: scroll;

        .mat-list-item {
          margin: .3rem 0;
        }

      }

      .spinning-auto {
        right   : 0;
        position: absolute;
        top     : 0;

      }

      .example-option-img {
        vertical-align: middle;
        margin-right  : 8px;
      }
    }
  }


}

@media (max-width: 501px) {
  .lines {
    margin-top: -30rem;
  }
}


::ng-deep .mat-stepper-vertical {
  background: none;
}

::ng-deep .mat-option {
  height: 6rem !important;
  cursor: pointer;

  .mat-option-text {
    display        : flex;
    justify-content: flex-start;

    &>* {
      vertical-align: middle;
      margin        : .3rem;
    }
  }
}


@media (min-width: 501px) {

  .remove-button {
    opacity   : 0;
    transform : translateX(.5rem);
    transition: all .3s ease-out;

    &:hover {
      opacity  : 1;
      transform: translateX(0)
    }
  }
}
