<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-vertical-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>About Your Self</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="fullName"
          inputmode="kana-name"
          required
        />
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Technical Stuff</ng-template>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Email"
          inputmode="email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-icon
          matSuffix
          (click)="showPassword = !showPassword"
          class="mat-18"
          >{{
            showPassword
              ? '
            visibility'
              : '
            visibility_off'
          }}</mat-icon
        >
      </mat-form-field>
      <div>
        <button type="button" mat-button matStepperPrevious>Back</button>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        Upload a nice image
      </ng-template>
      <div class="image-control-container">
        <div class="image-control">
          <app-upload-image
            [onImagePicked]="onImagePicked.bind(this)"
          ></app-upload-image>
        </div>
        <img
          class="image"
          *ngIf="form.get('image').value"
          [src]="form.get('image').value"
          alt="Image"
        />
      </div>
      <div>
        <button type="button" mat-button matStepperPrevious>Back</button>
        <button type="button" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finish Line</ng-template>
      <div class="button-container">
        <button
          class="primary-button"
          [ngClass]="{ 'submitted-button': isLoading }"
          [disabled]="form.invalid"
        >
          <ng-container *ngIf="!submitted; else elseSubmitted">
            Sign Up
          </ng-container>
          <ng-template #elseSubmitted>
            <mat-icon class="mat-18">done</mat-icon>
          </ng-template>
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>
<a
  class="sign-in-link"
  color="primary"
  routerLink="../sign-in"
  mat-stroked-button
  >Already Have A User?</a
>
