<ng-container *ngIf="!isLoading">
  <div class="search-container">
    <mat-form-field appearance="outline">
      <input
        autocomplete="off"
        placeholder="Search For Group"
        matInput
        type="text"
        [(ngModel)]="searchGroupInput"
      />
      <mat-icon *ngIf="!searchGroupInput" matSuffix>search</mat-icon>
      <mat-icon
        *ngIf="searchGroupInput"
        matSuffix
        (click)="searchGroupInput = ''"
        >clear</mat-icon
      >
    </mat-form-field>
  </div>
  <mat-nav-list dense *ngIf="filterGroupList().length">
    <ng-container *ngFor="let groupData of filterGroupList(); let i = index">
      <mat-list-item
        *ngIf="groupData.group"
        (click)="routeToChat(groupData.group._id)"
      >
        <a mat-list-item>
          <img
            matCardAvatar
            class="group-image"
            [src]="getPic(groupData.group)"
          />
          <span>{{ groupData.group.name }}</span>
        </a>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
  <div class="no-groups" *ngIf="!filterGroupList().length">
    <span>
      Opss, we did not find any groups yet
    </span>
    <a (click)="onCreateGroupDialog()">Click here to create one</a>
  </div>
</ng-container>

<app-polygon-loader *ngIf="isLoading"></app-polygon-loader>

<button
  mat-fab
  color="primary"
  class="add-group-button"
  (click)="onCreateGroupDialog()"
>
  <mat-icon class="mat-18">add</mat-icon>
</button>

<app-create-group
  [@slideBottom]
  [initFetchGroups]="initFetchGroups.bind(this)"
  [onCreateGroupDialog]="onCreateGroupDialog.bind(this)"
  *ngIf="showCreateGroupDialog"
></app-create-group>
