@import 'src/assets/scss/colors';
@import 'src/assets/scss/mixin';

:host {

  .search-container {
    width  : 100%;
    padding: 1rem;

    .mat-form-field {
      width: inherit;
    }
  }

  .add-group-button {
    position: fixed;
    bottom  : 7%;
    right   : 7%;
  }

  .group-image {
    margin: 1rem;
  }

  .no-groups {
    @include position-center;
    text-align: center;
    font-size : 1.5rem;

    a {
      font-weight: bold;
      color      : $primary;
      font-style : italic;
    }
  }
}
