<ng-container *ngIf="!isLoading; else loaderRef">
  <div class="control-container">
    <button [routerLink]="['../']" mat-icon-button>
      <mat-icon class="mat-18">arrow_back_ios</mat-icon>
    </button>
    <div class="group-data" *ngIf="group">
      <img [src]="getPic()" matCardAvatar />
      <span>{{ group.name }}</span>
    </div>
    <app-chat-menu-more [group]="group"></app-chat-menu-more>
  </div>

  <mat-nav-list>
    <mat-divider></mat-divider>
    <div class="messages-container" #messagesContainerRef>
      <div class="message" *ngFor="let message of messages; let i = index">
        <app-chat-message
          [group]="group"
          [message]="message"
          [isCurrentUser]="isCurrentUser(message.userId)"
          [isSiblingMessage]="isSiblingMessage(i, message.userId)"
        ></app-chat-message>
      </div>
    </div>
  </mat-nav-list>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <input
        (keydown)="onKeyDownSend($event)"
        autocomplete="off"
        [(ngModel)]="messageInput"
        matInput
        type="text"
      />
    </mat-form-field>
    <button
      [disabled]="!messageInput"
      (click)="onSendMessage()"
      mat-fab
      class="fab-button"
    >
      <mat-icon class="mat-18">send</mat-icon>
    </button>
  </div>
</ng-container>
<ng-template #loaderRef>
  <app-polygon-loader></app-polygon-loader>
</ng-template>
