<ng-container *ngIf="!isLoading; else loaderRef">
  <div class="control-container">
    <button [routerLink]="['../']" mat-icon-button>
      <mat-icon class="mat-18">arrow_back_ios</mat-icon>
    </button>
    <div class="group-data" *ngIf="group">
      <img [src]="getPic()" matCardAvatar />
      <span>{{ group.name }}</span>
    </div>
  </div>
  <mat-nav-list class="messages-container">
    <div #messagesContainerRef>
      <app-chat-message
        *ngFor="let message of messages; let i = index"
        [message]="message"
        [isCurrentUser]="isCurrentUser(message.userId)"
        [isSiblingMessage]="isSiblingMessage(i, message.userId)"
      ></app-chat-message>
    </div>
  </mat-nav-list>
  <div class="input-container">
    <mat-form-field appearance="outline">
      <input
        autocomplete="off"
        [(ngModel)]="messageInput"
        matInput
        type="text"
      />
    </mat-form-field>
    <button (click)="onSendMessage()" mat-fab class="fab-button">
      <mat-icon class="mat-18">send</mat-icon>
    </button>
  </div>
</ng-container>
<ng-template #loaderRef>
  <app-polygon-loader></app-polygon-loader>
</ng-template>
