@import 'src/assets/scss/colors';
@import 'src/assets/scss/mixin';

:host {
  position: absolute;
  width   : 100%;
  height  : calc(100vh - 5.6rem);

  .control-container {
    height         : 5rem;
    position       : relative;
    padding        : 0 2rem;
    display        : flex;
    justify-content: space-between;


    .group-data {
      @include position-center;
      display        : flex;
      justify-content: center;
      align-items    : center;
      font-size      : 1.6rem;
      color          : $primary;
      font-weight    : bold;
      font-style     : italic;

      &>* {
        margin: 0 .4rem;
      }
    }
  }

  mat-nav-list {
    height: calc(100% - 7.5rem - 5rem);

    .messages-container {
      height  : 100%;
      overflow: scroll;

      mat-list-item {
        height: auto;




      }
    }
  }

  .input-container {
    // position        : absolute;
    // bottom          : 0;
    // left            : 0;
    height             : 7.5rem;
    width              : 100%;
    background-color   : #fff;
    box-shadow         : 0rem 0rem 1.5rem 0rem rgba($primary, 0.109);

    .mat-form-field {
      width : calc(100% - 9.8rem);
      margin: 0 1rem;
    }

    button {
      margin: 1rem;
    }
  }
}
