<div (click)="showControl = !showControl">
  <ng-container *ngIf="!isCurrentUser; else currentUserRef">
    <div class="other-user">
      <img
        [style.opacity]="isSiblingMessage ? '0' : '1'"
        matCardAvatar
        class="other-user-image"
        [src]="getUserImage()"
      />
      <span
        class="other-user-message"
        [ngClass]="{ 'other-user-sibling': isSiblingMessage }"
      >
        <span class="other-user-message-author" *ngIf="!isSiblingMessage">{{
          message.userId.fullName
        }}</span>
        <span class="other-user-message-content">{{
          message.message || 'Message Is Deleted'
        }}</span>
        <span class="other-user-message-control">{{
          message.date | date: 'shortTime'
        }}</span>
      </span>
    </div>
  </ng-container>
  <ng-template #currentUserRef>
    <div class="user">
      <span
        class="user-message"
        [ngClass]="{ 'user-sibling': isSiblingMessage }"
      >
        <span class="user-message-author" *ngIf="!isSiblingMessage">{{
          message.userId.fullName
        }}</span>
        <span class="user-message-content">{{
          message.message || 'Message Is Deleted'
        }}</span>
        <span class="user-message-control">{{
          message.date | date: 'shortTime'
        }}</span>
      </span>
      <img
        [style.opacity]="isSiblingMessage ? '0' : '1'"
        matCardAvatar
        class="user-image"
        [src]="message.userId.image.image"
      />
    </div>
  </ng-template>
</div>
<span class="message-control" *ngIf="showControl && isCurrentUser">
  <app-message-control-panel
    [group]="group"
    [message]="message"
  ></app-message-control-panel>
</span>
