<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <ng-container *ngIf="isAuth; else isUnAuthRef">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/main']" routerLinkActive="active"
          >My Groups</a
        >
      </mat-nav-list>
    </ng-container>
    <ng-template #isUnAuthRef>
      <div class="unauth-container">
        <span>Hey, we see that you're not signed in</span>
        <p routerLink="/">Click Here To Sign In</p>
      </div>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="logo">
        <mat-icon class="logo__icon">send</mat-icon>
        <span class="logo__text">ChatMeApp</span>
      </div>
    </mat-toolbar>
    <div class="app-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
