@import 'src/assets/scss/mixin';
@import 'src/assets/scss/colors';

:host {
  position: relative;

  .unauth-container {
    @include position-center;
    text-align: center;

    p {
      color      : $primary;
      font-style : italic;
      font-weight: bold;

    }
  }


  .mat-toolbar {
    background: transparent;
  }

  .logo {
    position : absolute;
    left     : 50%;
    transform: translateX(-50%);
    animation: slide-in-top-logo 1s ease-out;

    &__icon {
      margin: 0 .3rem;
    }

    &__text {
      font-family: 'Noto-Sans';
    }
  }

  .app-content {
    height: calc(100vh - 5.6rem);
    width : 100vw;
  }

  .mat-nav-list-content {
    font-family: 'Noto-Sans' !important;
  }

  .sidenav-container {
    height: 100%;

  }

  .sidenav {
    width: 200px;
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top     : 0;
    z-index : 1;
  }

}

@keyframes slide-in-top-logo {
  0% {
    transform: translateY(-10vh) translateX(-50%);
    ;
  }

  80% {
    transform: translateY(0) translateX(-50%);
  }

  100% {
    transform: translateY(0) translateX(-50%);
    ;
  }
}
