<mat-nav-list dense *ngIf="!isLoading">
  <mat-list-item *ngFor="let group of groups">
    <a mat-list-item>
      <img matCardAvatar [src]="group.image" [alt]="group.name" />
      <span>{{ group.name }}</span>
    </a>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>

<app-polygon-loader *ngIf="isLoading"></app-polygon-loader>

<button
  mat-fab
  color="primary"
  class="add-group-button"
  (click)="onCreateGroupDialog()"
>
  <mat-icon class="mat-18">add</mat-icon>
</button>

<app-create-group
  [@slideBottom]
  [initFetchGroups]="initFetchGroups.bind(this)"
  [onCreateGroupDialog]="onCreateGroupDialog.bind(this)"
  *ngIf="showCreateGroupDialog"
></app-create-group>
